@import '../../variables';

.rocket-div {
  font-family: "Lato", sans-serif;

  .rocket-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;

    .rocket {
      display: flex;
      gap: 10px;

      .info {
        .reserve-btn {
          width: 140px;
          padding: 5px;
          margin-top: 2px;
          background-color: $main-blue;
          color: white;
          border-radius: 3px;
          transition: 0.3s;
          border: 1px solid $main-blue;
          cursor: pointer;
        }

        .reserve-btn:hover {
          background-color: white;
          color: $main-blue;
          border: 1px solid $main-blue;
        }

        .cancel-btn {
          width: 140px;
          margin-top: 2px;
          padding: 5px;
          background-color: white;
          color: $color-not-member;
          border-radius: 3px;
          transition: 0.3s;
          border: 1px solid $color-not-member;
          cursor: pointer;
        }

        .cancel-btn:hover {
          background-color: white;
          color: $color-leave-mission;
          border: 1px solid $color-leave-mission;
        }

        p {
          margin-bottom: 10px;

          span {
            background-color: $color-active-member;
            border-radius: 3px;
            padding: 2px 4px;
            font-size: 13px;
            font-weight: bold;
            color: white;
            margin-right: 4px;
            font-family: "Roboto", sans-serif;
            transition: 2s;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
.rocket-div {
  .rocket-list {
    .rocket {
      flex-direction: column;
    margin-bottom: 2.5rem;
    .info :first-child {
      font-weight: bold;
      }
      p span {
        line-height: 2;
        
        &::after {
          content: "\A";
          white-space: pre;
      }
      }
    }
  }
}
}
